body {
    overflow-x: hidden;
    font-family: 'Cambria', 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.25;
}

a {
    color: #fed136;
}

a:hover {
    color: #fec503;
}

.text-primary {
    color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Cambria', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.accent {
    color: #ff7f27;
}

.main-color {
    color: #3E7F81;
}
section {
    padding: 30px 0 50px;
}

section h2.inside-heading {
    font-size: 40px;
    margin-top: 0;
    margin-left: -15px;

    color: #3E7F81;
}

section h3 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #ff7f27;
}

#home h3, #products h3, #private-label h3{
    margin-top:35px;
    margin-bottom:5px;
}
section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Cambria', Arial, sans-serif;
}


@media (min-width: 768px) {
    section {
        padding: 30px 0 50px;
    }
}

.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    /*padding: 20px 40px;*/
}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
    background: orange;
    text-shadow: none;
}

::selection {
    background: orange;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

#mainNav {
    background-color: #ff7f27;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Cambria', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
    color: #3E7F81;
    font-size: 16px;
    font-family: 'Cambria', cursive;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #ffffff;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 130%;
    font-weight: 400;
    padding: 0.5em 0;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Cambria',  Helvetica, Arial, sans-serif;
}
#mainNav #navbarResponsive .navbar-nav{
    width:100%;
}

#mainNav .nav-item a:first-child {
    text-align: left;
    padding-left:0!important;
}
#mainNav .nav-item:last-child a {
    text-align:right;
    padding-right:0!important;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #3E7F81;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: #ff7f27;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 0.5em 1em !important;
    }
    #mainNav .navbar-nav li.nav-item:first-child a.nav-link {
        text-align: left;
        padding-left:0!important;
    }
    #mainNav .navbar-nav li.nav-item:last-child a.nav-link {
        text-align:right;
        padding-right:0!important;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #ff7f27;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }

}

a#logo {
    color:#3E7F81;
    margin-left:-0.5vw;
    font-size:4.5vw;
}
#top-img img{
    height:9vw;
}
#top-menu-div {
    display:flex;
    flex-wrap:wrap;
    margin: 0 -15px 0px;
}
@media (min-width:992px){
    #top-menu-div {
        margin-bottom:20px;
    }
}
#top-menu-div > div {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#top-img-div {
    padding-top:6vw;
    -webkit-box-flex:0;
    flex:0 0 8.666667%;
    max-width:8.666667%;
}
#logo-links-div {
    -webkit-box-flex:0;
    flex:0 0 41.666667%;
    max-width:41.666667%;
}
#langs-div {
    flex-basis:0;
    -webkit-box-flex:1;
    flex-grow:1;
    max-width:100%;
}

img.flag {
    width:20px;
}
.langs {
    margin-left:50%;
}
.langs {
    padding-top:60px;
}
@media (min-width: 768px) {
    .langs {padding-top: 70px;}
}
@media (min-width: 992px) {
    .langs {padding-top: 105px;}
}
@media (min-width:1200px){
    .langs {padding-top:160px;}
}
/*160*/
.lang-flag {
    display:inline-block;
    width:23%;
    padding-left:10px;
}
.lang-flag img, span {
    width:100%;
}
.lang-flag div.lang-name {
    text-align: center;
}
.construction {
    color:#8a132e;
}
.livestock{
    color:#ff4371;
}
.mining{
    color:#374ad1;
}
.medical{
    color:#1baf47;
}
#top-img {
    margin-left:-20px;
    margin-right:-20px;
}
.header-links {
    border-left:.6vw solid #408080;
    padding-left:20px;
    font-weight:bold;
    font-size:1.15vw;
}
.page-heading {
    color: #3E7F81;
    padding-bottom: 5px;
    border-bottom: 5px solid #3E7F81;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 1.7rem;
}

header.masthead {
    text-align: center;
    color: black;
    /*background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

.footer-center {
    border-left: 5px solid #3E7F81;
    border-right: 5px solid #3E7F81;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;
}
/*
header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    /*
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }*/
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
    font-size: 20px;
}

.service-heading-small {
    font-size: 16px;
}
.table-harvest {
    line-height: 1;
    margin-left:15px;
    margin-right:15px;
}

.table-harvest td {
    padding: 0.25rem;
    text-align: center;
}

.table-harvest tr td:first-child {
    color: #ff7f27;
    text-align: left;
}

.table-harvest thead {
    color: #3E7F81;
}

#about .team-member p {
    margin-bottom: .5rem;
    line-height: 1.5;
    font-weight: bold;
}
#about .about-col-bottom {
    background-color:#efefef;
    color:black;
    height:550px;
    padding:5px;
}
#about .about-col>div:first-child {
    height:75px;
}
#about table {
    margin-top:15px;
    margin-bottom:15px;
}
#team-table td {
 width:25%;
}
#about .accent-heading {
    font-size: 1.2vw;
    height:3vw;

}
#about th {
    padding:0;
}
#about table th, #about table td {
    border-color: #00cccc;
}
#about table:first-of-type th, #about table:first-of-type td {
    border-color:#ff7f27;
}
#about .position {
    margin-bottom:0;
}
#about table th h2.inside-heading {
    margin:0;
    font-size:1.2rem;
}
#about table:nth-of-type(2) th h2.inside-heading {
    background-color:#3E7F81;
}
#about table td {
    padding:10px 0;
}
#about table:first-of-type td {
    font-weight: bold;
}
#about a {
    color:#ff7f27;
}
#about .year {
    width:10%;
    padding-left:5px;
}
#about td.resume-details {
    padding: 10px;
}
#about div.resume {
    border: 1px dotted #ff7f27;
    height: 100%;
    padding: 30px;
    margin-top: -2px;
}
#about .location {
    font-weight: bold;
}
#history tr>td:first-child {
    color:#009999;
}
#history tr:first-of-type td{
    font-weight:bold;
}
#history td h3 {
    color:black;
}
.resume p {
    line-height: 1.2;
}

#about .inside-heading {
    background-color: #ff7f27;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
}

#about .inside-heading h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

#about .accent-heading {
    background-color: #3E7F81;
    padding: 5px;
    color: white;
}

#about .banking {
    border: 1px dotted #3E7F81;
    height: 85%;
    padding: 30px;
}
li.nav-item.active>a{
    color:#3E7F81!important;
}
footer {
    margin-bottom:20px;
}

footer .footer-row {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right:-15px;
    margin-left:-15px;
}

footer .footer-center {
    width: 40vw;
    font-size:1.1vw;
    margin-left:5vw;
    margin-right:5vw;
}
footer img {
    width:5vw;
}
footer .footer-center>div>div:first-child{
    border-top:1px dashed #408080;
    margin:0 5vw 0 3.55vw;
    padding-top:5px;
    width:30.5vw;
    height:1px;
}

footer .company-name {
    color:#3E7F81;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer .contact-info a {
    color:#3E7F81;
    font-weight: bold;
}

footer .contact-info div {
    margin-top: 15px;
}

div.head-img {
    padding:0;
    background-color: white;
    margin-bottom: 0px;
}
@media (min-width: 576px) {
    .head-img {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .head-img img {
        width: 100%;
    }
}

.accent-heading {
    background-color: #ff7f27;
    color: white;
    font-size: 1.2vw;
    padding: 5px;
    text-align: center;
    height: 4.5vw;
}

#private-label ul, #products ul {
    list-style-type: none;
    font-weight: bold;
}

#private-label ul > li, #products ul > li {
    color: #3E7F81;
}

#private-label ul > li > ul, #products ul > li > ul {
    list-style-type: disc;
}

#private-label ul > li > ul > li, #products ul > li > ul > li {
    color: black;
    line-height: 1.2;
}

.accent-border {
    border: 1px dotted #ff7f27;
    padding-top: 20px;
}

.accent-border.bottom-accent-border {
    margin-top: -1px;
    padding-bottom: 10px;
}

.accent-border.top-accent-border {
    margin-bottom: -1px;
    padding-bottom: 20px;
}
@media (min-width: 768px) {
    .accent-border.bottom-accent-border {
        height:430px;
    }
    .accent-border.top-accent-border {
        height:23rem;
    }
}
@media (min-width: 992px) {
    .accent-border.top-accent-border {
        height: 31rem;

    }
    .accent-border.bottom-accent-border{
        height: 396px;

    }
}
.main-border {
    border: 1px dotted #3E7F81;
    padding-top: 20px;
}

.main-border.bottom-main-border {
    margin-top: -1px;
    padding-bottom: 10px;
}

.main-border.top-main-border {
    margin-bottom: -1px;
    padding-bottom: 10px;
    padding-top: 0;
}

.main-heading {
    background-color: #3E7F81;
    color: white;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}

#products .frame1top {
    height: 390px;
}

#products .frame1bottom {
    height: 575px;
}

#products .frame2top {
    height: 455px;
}

#products .frame2bottom {
    height: 440px;
}

#products .table-products {
    line-height: 1;

}

.table-products thead {
    background-color: #bee5eb;
}

.table-products td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.table-products tr > td:first-child {
    color: #ff7f27;
}

.lh15 li {
    line-height: 1.5;
    padding-bottom: 10px;
}

section#contact .inside-heading {
    color: #fff;
}

section#contact .form-group {
    display:flex;
    flex-wrap: wrap;
}
section#contact .form-group {
}
section#contact .form-group-row {
    margin:0;
}
section#contact div.right-frame-bottom:first-child {
    margin-bottom:0;
}
section#contact .form-group-row label {
    -webkit-box-flex:0;
    flex: 0 0 25%;
    max-width:25%;

}
#contact .message-label {
    padding:0.375rem 0.75rem;
}
#contact .contact-img {
    height:250px;
}
section#contact .form-group-row input {
    flex: 0 0 73%;
    max-width:73%;
    height:2vw;
    border-radius:0;
}

#sendMessageButton {
    background-color:#ff7f27;
    border-radius:0;

}
/*section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}*/

section#contact .form-group textarea.form-control {
    height: 277px;
    border-radius:0;
    margin-bottom:0;
}
section#contact .form-bottom {
   height:10.8rem;
}
section#contact .form-bottom .form-group {
    height: 25%;
}
section#contact .form-bottom label {
    padding-left:0.75em;
    height:2vw;
    line-height:2vw;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Cambria', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'Cambria', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'Cambria', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Cambria', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#contact .left-frame h2 {
    height:7rem;
    line-height:7rem;
    background-color: #408080;
    color:white;

}
#contact .left-frame {
    border: 2px solid #408080;
}

#contact .right-frame {
    border: 2px solid #ff7f27;
}
#contact table {
    margin-top:20px;
    width:101%;
}
#contact .form-control {
    color:black!important;
    font-size:14px;
}
#contact table td {
    font-weight:bold;
    border: 2px solid #408080;
}

#contact .right-frame .heading {
    height:7rem;
    background-color: #ff7f27;
    color:white;
    padding:10px;
    text-align:center;
}
#contact .right-frame p {
    line-height: 1;
    height:1vw;
    margin:0;
    width:100%;
}
#contact .right-frame p>ul {
    margin:0;
}

footer {
    padding: 15px 0;
    text-align: center;
    border-top: 20px solid #ff7f27;
    border-bottom: 20px solid #ff7f27;


}

footer .contact-info {
    padding-top: 5px;
}


footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fed136;
}
