body {
    overflow-x: hidden;
    font-family: 'Cambria', 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.75;
}

a {
    color: #fed136;
}

a:hover {
    color: #fec503;
}

.text-primary {
    color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Cambria', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.accent {
    color: #ff7f27;
}

.main-color {
    color: #408080;
}
section {
    padding: 100px 0 50px;
}

section h2.inside-heading {
    font-size: 40px;
    margin-top: 0;
    margin-left: -15px;

    color: #408080;
}

section h3 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #ff7f27;
}

section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Cambria', Arial, sans-serif;
}


@media (min-width: 768px) {
    section {
        padding: 150px 0 50px;
    }
}

.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
    background: orange;
    text-shadow: none;
}

::selection {
    background: orange;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

#mainNav {
    background-color: #ff7f27;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Cambria', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
    color: #408080;
    font-size: 16px;
    font-family: 'Cambria', cursive;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #ffffff;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Cambria',  Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #408080;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: #ff7f27;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #ff7f27;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

.page-heading {
    color: #408080;
    padding-bottom: 5px;
    border-bottom: 5px solid #408080;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 1.7rem;
}

header.masthead {
    text-align: center;
    color: black;
    /*background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

.footer-center {
    border-left: 5px solid #408080;
    border-right: 5px solid #408080;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;
}
/*
header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    /*
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }*/
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
    font-size: 20px;
}

.service-heading-small {
    font-size: 16px;
}
.table-harvest {
    line-height: 1;

}

.table-harvest td {
    padding: 0.25rem;
    text-align: center;
}

.table-harvest tr td:first-child {
    color: #ff7f27;
    text-align: left;
}

.table-harvest thead {
    color: #408080;
}

#about .team-member p {
    margin-bottom: .5rem;
    line-height: 1.5;
    font-weight: bold;
}

#about div.resume {
    border: 1px dotted #ff7f27;
    height: 100%;
    padding: 30px;
    margin-top: -2px;
}

.resume p {
    line-height: 1.2;
}

#about .inside-heading {
    background-color: #ff7f27;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
}

#about .inside-heading h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

#about .accent-heading {
    background-color: #408080;
    padding: 5px;
    color: white;
}

#about .banking {
    border: 1px dotted #408080;
    height: 100%;
    padding: 30px;
}

footer .company-name {
    color:#408080;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer .contact-info a {
    color:#408080;
    font-weight: bold;
}

footer .contact-info div {
    margin-top: 15px;
}

div.head-img {
    padding:0;
    background-color: white;
    margin-bottom: 30px;
}
@media (min-width: 576px) {
    .head-img {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .head-img img {
        width: 100%;
    }
}

.accent-heading {
    background-color: #ff7f27;
    color: white;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    height: 3rem;
}

#private-label ul, #products ul {
    list-style-type: none;
    font-weight: bold;
}

#private-label ul > li, #products ul > li {
    color: #408080;
}

#private-label ul > li > ul, #products ul > li > ul {
    list-style-type: disc;
}

#private-label ul > li > ul > li, #products ul > li > ul > li {
    color: black;
    line-height: 1.2;
}

.accent-border {
    border: 1px dotted #ff7f27;
    padding-top: 20px;
}

.accent-border.bottom-accent-border {
    margin-top: -1px;
    padding-bottom: 10px;
    height: 396px;
}

.accent-border.top-accent-border {
    height: 480px;
    margin-bottom: -1px;
    padding-bottom: 20px;
}

.main-border {
    border: 1px dotted #408080;
    padding-top: 20px;
}

.main-border.bottom-main-border {
    margin-top: -1px;
    padding-bottom: 10px;
}

.main-border.top-main-border {
    margin-bottom: -1px;
    padding-bottom: 10px;
    padding-top: 0;
}

.main-heading {
    background-color: #408080;
    color: white;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    height: 3rem;
}

#products .frame1top {
    height: 404px;
}

#products .frame1bottom {
    height: 575px;
}

#products .frame2top {
    height: 455px;
}

#products .frame2bottom {
    height: 440px;
}

#products .table-products {
    line-height: 1;

}

.table-products thead {
    background-color: #bee5eb;
}

.table-products td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.table-products tr > td:first-child {
    color: #ff7f27;
}

.lh15 li {
    line-height: 1.5;
    padding-bottom: 10px;
}

section#contact .inside-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 248px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


footer {
    padding: 15px 0;
    text-align: center;
    border-top: 20px solid #ff7f27;
    border-bottom: 20px solid #ff7f27;

}

.contact-info {
    border-top: 1px dashed #408080;
    padding-top: 10px;
}


footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fed136;
}
